.forgot-password-bg {
  background: url("./../../../assets/wave.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.forgot-password {
  background-color: var(--blanco);
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.border-password {
  border-bottom: 1px solid var(--gris-claro);
}

@media (max-width: 575px) {
  /* Estilos para pantallas con ancho máximo de 575px (Extra small) */
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Estilos para pantallas con ancho entre 576px y 767px (Small) */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para pantallas con ancho entre 768px y 991px (Medium) */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para pantallas con ancho entre 992px y 1199px (Large) */
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Estilos para pantallas con ancho entre 1200px y 1399px (X-Large) */
}

@media (min-width: 1400px) {
  /* Estilos para pantallas con ancho mínimo de 1400px (XX-Large) */
}
