<app-loader *ngIf="tiempo"></app-loader>

<div class="forgot-password-bg vh-100 d-flex justify-content-center align-items-center" *ngIf="!tiempo">
  <div class="forgot-password p-4">
    <div class="mb-3 border-password">
      <h4 class="text-center">¿Olvidaste tu contraseña?</h4>
    </div>
    <form action="">
      <div class="mb-3">
        <input type="email" class="form-control" id="input1" placeholder="Correo electronico">
      </div>
      <div class="mb-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Restablecer contraseña</button>
      </div>
    </form>
    <div class="d-flex justify-content-center">
      <a href="/" class="sign-up">O inicia Sesión</a>
    </div>
  </div>
</div>