<div class="Containerinicio vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50 h-50 d-flex justify-content-center align-items-center">
    <div class="flex-column p-xxl-4 p-xl-4 p-lg-4 p-md-4 p-sm-3 p-1">
      <h1 class="welcome-text ">¡Bienvenidos a AbastoTotal!</h1>
      <p class="description">Tu solución completa de gestión para tu administración de distribuiciones.</p>
      <div class="d-xxl-flex d-xl-flex d-lg-flex d-md-flex d-sm-flex d-block gap-2">
        <a routerLink="/login" class="btn btn-light mb-2">
          <i class="bi bi-box-arrow-in-right"></i>
          Iniciar Sesión</a>
        <a routerLink="/register" class="btn btn-dark mb-2">
          <i class="bi bi-pencil"></i>
          Registrarme</a>
      </div>
    </div>
  </div>
  <div
    class="w-50 h-50 justify-content-center align-items-center d-sm-none d-xl-flex d-xxl-flex d-md-flex d-lg-flex d-none">
    <iframe src="https://embed.lottiefiles.com/animation/22620" style="height: 350px; width: auto;"></iframe>
  </div>
</div>