<div class="Containerinicio vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50 h-50 d-flex justify-content-center align-items-center ">
    <div class="flex-column p-4">
      <h1 class="welcome-text ">¡Bienvenidos a abastecito!</h1>
      <p class="description">Tu solución completa de gestión para distribuidores de abarrotes.</p>
      <div class="d-flex gap-2">
        <a routerLink="/login" class="btn btn-light m">
          <i class="bi bi-box-arrow-in-right"></i>
          Iniciar Sesión</a>
        <a routerLink="/" class="btn btn-secondary">
          <i class="bi bi-pencil"></i>
          Registrarme</a>
      </div>
    </div>
  </div>
  <div style="background-color: blue;" class="w-50 h-50">cddcd</div>
</div>