.register {
  background: url("./../../../assets/wave.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.register-card {
  background-color: var(--blanco);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}

#emailHelp {
  color: var(--silver);
}

@media (max-width: 575px) {
  /* Estilos para pantallas con ancho máximo de 575px (Extra small) */
  .register-card {
    border-radius: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Estilos para pantallas con ancho entre 576px y 767px (Small) */
  .register-card {
    border-radius: 0px;
  }
}

@media (min-width: 768px) and (max-width: 860px) {
  /* Estilos para pantallas con ancho entre 768px y 991px (Medium) */
  .register-card {
    border-radius: 0px;
  }
}
