<header class="p-3 text-bg-dark sticky-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="dashboard" class="d-flex mb-lg-0 text-white text-decoration-none">
        <i class="bi bi-shop px-2"></i>
        AbastoTotal
      </a>

      <!-- Separador -->
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

      </ul>

      <form class="d-flex gap-2">
        <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Buscar...">
        <button type="submit" class="btn btn-warning"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
</header>