<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Clave</th>
        <th scope="col">Nombre</th>
        <th scope="col">Datos de contacto</th>
        <th scope="col">Datos bancarios</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of customers">
        <th scope="row">{{ cliente.clave }}</th>
        <td>{{ cliente.nombre + " " + cliente.apellidos }}</td>
        <td>
          <span>Email: {{ cliente.email }}</span>
          <hr>
          <span>Telefono: {{ cliente.telefono }}</span>
          <hr>
          <span class="color">Dirección: {{ cliente.direccion }} </span>
        </td>

        <td *ngIf="cliente.banco === 'null'; else pago">
          El cliente paga en efectivo
        </td>
        <ng-template #pago>
          <td>
            <p>Banco: {{ cliente.banco }}</p>
            <p class="color">No. cuenta: {{ cliente.numero_cuenta }}</p>
            <p class="color">CLABE: {{ cliente.clabe }}</p>
          </td>
        </ng-template>

        <td>
          <button type="button" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
          <button type="button" class="btn btn-primary mx-2"><i class="bi bi-pen"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>