<div class="justify-content-center d-flex vh-100 align-items-center login-bg">
  <div class="login p-4">
    <div class="mb-5">
      <h2>Inicia Sesión</h2>
    </div>

    
    <form action="" class="">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </form>
  </div>
</div>