<button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#m-a-suppliers">Agregar
  proveedor</button>

<!-- Modal add suppliers -->
<div class="modal fade modal-lg" id="m-a-suppliers" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar proveedor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3 row">
          <div class="col">
            <label label="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre-s" [(ngModel)]="nombre">
          </div>
          <div class="col">
            <label for="clave" class="form-label">Clave</label>
            <input type="text" name="clave" class="form-control text-uppercase" id="clave" maxlength="3"
              [(ngModel)]="clave" (input)="checkInputs()">
            <span class="form-text text-danger" *ngIf="clave.length < 3">
              Debe de tener 3 digitos *
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <h5>Razón Social</h5>
          <div class="col">
            <label for="razon" class="form-label">Nombre de la razón</label>
            <input type="text" class="form-control" name="razon" id="razon" [(ngModel)]="nombreRazon">
          </div>
          <div class="col">
            <label for="rfc" class="form-label">RFC</label>
            <input type="text" class="form-control text-uppercase" name="rfc" id="rfc" maxlength="13" [(ngModel)]="rfc"
              (input)="checkInputs()">
            <span class="form-text text-danger" *ngIf="rfc.length < 13">
              Debe de ser 13 digitos *
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col">
            <label for="calle" class="form-label">Calle y número exterior</label>
            <input type="text" class="form-control" name="calle" id="calle" [(ngModel)]="calle">
          </div>
          <div class="col">
            <label for="calle" class="form-label">Colonia</label>
            <input type="text" class="form-control" name="colonia" id="colonia" [(ngModel)]="colonia">
          </div>
          <div class="col">
            <label for="calle" class="form-label">Codigo Postal</label>
            <input type="text" class="form-control" name="cp" id="cp" [(ngModel)]="codigoPostal">
            <span class="form-text text-danger" *ngIf="codigoPostal.length < 5">
              Debe de ser 5 digitos *
            </span>
          </div>
        </div>

        <div class="mb-3 row">
          <h5>Contacto</h5>
          <div class="col">
            <label for="titular" class="form-label">Titular</label>
            <input type="text" class="form-control" name="titular" id="titular" [(ngModel)]="titular">
          </div>
          <div class="col">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" name="telefono" id="telefono" maxlength="10" [(ngModel)]="telefono">
            <span class="form-text text-danger" *ngIf="telefono.length < 10">
              Debe de ser 10 digitos *
            </span>
          </div>
          <div class="col">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email">
          </div>
        </div>

        <div class="mb-3 row">
          <h5>Datos bancarios</h5>
          <div class="col">
            <label for="banco" class="form-label">Banco</label>
            <select class="form-select" [(ngModel)]="banco">
              <option selected value="XXX">Eliga una opción</option>
              <option value="Santander">Santander</option>
              <option value="BBVA">BBVA</option>
              <option value="Banxico">Banxico</option>
            </select>
          </div>
          <div class="col">
            <label for="nu-cuenta" class="form-label">No. de cuenta</label>
            <input type="text" class="form-control" name="nu-cuenta" id="nu-cuenta" maxlength="10" [(ngModel)]="nCuenta"
              (input)="checkInputs()">
            <span class="form-text text-danger" *ngIf="nCuenta.length < 10">
              Debe de ser 10 digitos *
            </span>
          </div>
          <div class="col">
            <label for="clabe" class="form-label">CLABE</label>
            <input type="text" class="form-control" name="clabe" id="clabe" maxlength="18" [(ngModel)]="clabe"
              (input)="checkInputs()">
            <span class="form-text text-danger" *ngIf="clabe.length < 18">
              Debe de ser 18 digitos *
            </span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" #closeButton>Cerrar</button>
        <button type="button" class="btn btn-success" (click)="addSuppliers()" [disabled]="esActivo">Crear</button>
      </div>
    </div>
  </div>
</div>