<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Clave</th>
        <th scope="col">Nombre</th>
        <th scope="col">Razón social</th>
        <th scope="col">Contacto</th>
        <th scope="col">Información bancaria</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of suppliers">
        <th scope="row">{{ proveedor.clave }}</th>
        <td>{{ proveedor.nombre }}</td>
        <td>
          <p>{{ proveedor.razon_social }}</p>
          <span class="color">RFC: {{ proveedor.rfc }}</span>
          <hr class="color">
          <span class="color">{{ proveedor.direccion }}</span>
        </td>
        <td>
          <p>Titular: {{ proveedor.titular}}</p>
          <p class="color">Telefono: {{ proveedor.telefono }}</p>
          <p class="color">Email: {{ proveedor.email }}</p>
        </td>
        <td>
          <p>Banco: {{ proveedor.banco }}</p>
          <p class="color">No. Cuenta: {{ proveedor.numero_cuenta }}</p>
          <p class="color">CLABE: {{ proveedor.clabe }}</p>
        </td>
        <td>
          <button type="button" class="btn btn-danger d-block" data-bs-toggle="modal" data-bs-target="#modal-d"><i
              class="bi bi-trash3"></i></button>
          <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#modal-u"><i
              class="bi bi-pen"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>