<app-header></app-header>
<div class="container-fluid">
  <div class="row">

    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary vh-100">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" routerLink="/dashboard">
                <i class="bi bi-house-fill"></i>
                Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/inventory">
                <i class="bi bi-file-earmark"></i>
                Inventario
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/customers">
                <i class="bi bi-cart"></i>
                Clientes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/suppliers">
                <i class="bi bi-people"></i>
                Proveedores
              </a>
            </li>
          </ul>

          <hr class="my-3">

          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <button class="nav-link d-flex align-items-center gap-2" (click)="signOut()">
                <i class="bi bi-door-closed"></i>
                Cerrar Sesión
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Clientes</h2>
        <app-customers-buttons></app-customers-buttons>
      </div>

      <app-table-customers></app-table-customers>
    </main>
  </div>
</div>